$body-background-color: $white;
$sidebar-color: $sa-bg;
$border-color: $grey-lt-100 !default;


$body-text-color: $grey-dk-300;
$body-heading-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $sa-link;
$btn-primary-color: $sa-btn;
$base-button-color: #f7f7f7;

$code-background-color: $grey-lt-000 !default;

/* $code-background-color: $grey-dk-250; */
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
